*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{ 
    width: 100%;
    height: 100%;
    background-color:#6F1E51;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel{
    
    width: 80%;
    height: 90%;
    /* background-color:rgb(213, 230, 245); */
    border-radius: 5px;
}
.panel-part-1{
    width: 100%;
    /* height: 12%; */
    height: 100px;
    background-color:#B53471 ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    /* border-radius: 5px; */

}

.elem{
    padding: 10px;
    /* background-color: rgb(10, 10, 129); */
    /* color:#30336b; */
    /* width: 44px; */
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    /* border: 2px solid white; */
}
.elem h2{
    color: #30336b;
    font-size:1.4rem;
}

.elem .box{
    border-radius: 33%;
    width: 50px;
    height: 46px;
    background-color:#30336b;
    color: white;
    padding: 16px;
    
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel-bottom{
    width: 100%;
    height: calc(100% - 100px);
    background-color: #eb7eb1;
}
.panel-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    gap:10px;
    padding: 20px;
    overflow: hidden;
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(0, 183, 255); */
    background-color: #980b4d;
    height: 50px;
    width: 50px;
    font-weight:500;
    border-radius: 50%;
    color: white
    

}
.bubble:hover{
    background-color: #5f022d;
    cursor: pointer;
    color: rgb(251, 250, 249);
}
.game-over{
    flex-direction: column;  
    font-size: 35px;
    font-weight: bold;
    color: #e4ecf0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.game-over .your-score{ 
    font-size: 47px;
    font-family: cursive;
    color: rgb(4, 69, 110);
}

.game-over h1{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(4,69,110);
    font-size: 81px;
    position: absolute;
    top: 33%;
}



#celeb-img{
    width: 25vw;
    /* height: 100vh; */
    position: absolute;
    right: 25px;
}

#celeb-img img{
    width: 100%;
    height: 100%;
}

@media (max-width:1010px) {
    .game-over h1{
    font-size: 2rem;
 
}
.game-over .your-score{ 
    font-size: 2rem;

}
#celeb-img{
   display: none;
}
}

@media (max-width:400px) {
.game-over .your-score{ 
    font-size: 1.8rem;
    font-family: cursive;
    color: rgb(4, 69, 110);
}
}

@media (max-width:530px) {
    .elem .box {
        width: 43px;
        height: 39px;   
    }
    .elem h2 {
        font-size: 1.2rem;
    }
    .panel-part-1 {
        justify-content:initial;

    }
}


@media (max-width:470px) {
    .elem {
        padding: 7px;  
        gap: 4px;
    }
}

@media (max-width: 430px) {
    .elem .box {
        width: 34px;
        height: 28px;
    }
    .elem h2 {
        font-size: 0.9rem;
    }
    .panel-bottom {
        padding: 7px;
      
    }
    
}

@media (max-width: 340px) {
    .elem {
        padding: 7px;
        gap: 1px;
    }
}